*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.cointener{
    width: 100%;
    height: 100vh;
    background-color: red;
    display: flex;
    flex-direction: column;
}


header{
    width: 100%;
    height: 100px;
    background-color: black;
}
.section-1 {  
    width: 100%;
    height: 100vh;
    background-color: aqua;
}